* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    min-height: 100%;
    position: relative;
}
html {
    height: 100%;
  }

#logo-div{
    height: 233px;
    margin-top: 89px;
    background: white;
    text-align: center;
}

#logo {
    padding-top: 109px;
    width: auto;
    
}

#round-box {
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: white;
    width: 482px;
    height: 44px;
    margin: auto;
    
}

#search-bar-div {
    
    margin: auto;
}

#search-bar {
    background: white;
    margin-top: 5px;
    width: 427px;
    height: 34px;
    margin-left: 30px;
    border: none;
}

#search-bar:focus {
    outline: none;
}

#svg-div {
    display: flex;
    position: absolute;
    margin-top: 12px;
    margin-left: 14px;
    
}

path {
    fill: #9aa0a6;;
}

svg {
    width: 20px;
    height: 20px;
}

#squares {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
   
}



#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 9px;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
} 

li a {
    display: block;
    padding: 2px 10px 0px 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    opacity: 0.75;
}



#sign-in {
    opacity: 100%;
    background-color: #005eff;
    border: none;
    color: white;
    font-size: 14px;
    padding: 4px 24px;
    display: inline-block;
    line-height: 28px;
    border-radius: 3px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 18px;
    
}

#google-search {
    margin-right: 15px;
}

.double {
    border: none;
    background-color: #f8f9fa;
    font-size: 14px;
    line-height: 36px;
    border-radius: 4px;
    padding: 0px 15px;
}

footer {
    display: flex;
    
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
}



footer ul {
    margin-top: 0;
    opacity: 0.75;
    
}
